@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/MWVf-Rwh4GLQVBEwbyI61Q.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('http://themes.googleusercontent.com/static/fonts/lato/v5/9k-RPmcnxYEPm8CNFsH2gg.woff') format('woff');
}
body {
  background-image: url('../img/bg-grey-noise.png');
  font-family: 'Lato', Helvetica, Verdana, sans-serif;
}
#container {
  margin: 5px auto;
  box-shadow: 0 0 15px #222;
  background-color:#fff;
  min-height:500px;
}
#sidebar, #content {
  margin:0;
  padding:12px 10px;
}
#sidebar {
  min-height:500px;
  border-right:1px solid #bbb;
}
h1, .subtitle {
  display:inline-block;
  margin:30px 15px 0 15px;
  text-shadow: 0px 1px 0px #bbb;
  font-family: 'Lobster', serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  color: #312;
}
.subtitle {
  margin:0;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
}
