<% title "#{t(:tools)} - #{t(:nagios_comparison)}" %>

<div id="tools" class="grid_12 items_list">

  <%= render_diff_list t(:in_nagios_missing_in_cartoque),
                       @unknown_in_cartoque.map{|name| server_missing name} %>

  <%= render_diff_list t(:in_cartoque_missing_in_nagios),
                       @unknown_in_nagios.map!{|s| link_to_servername s} %>

</div>
