<%
  path = Rails.root.join("data/nagios")
  machines_nagios = %x(grep host_name= #{path}/status.dat|cut -d"=" -f 2|sort -u).split(/\n/)
  machines_nagios.reject!{|h| h.match(/^(VIPS?\d*_|GW_|URL_)/) }
  machines_nagios.each{|h| h.gsub!(/^(MIN_|RH_|RITAC_|AM_|DEV_)/,"") }
  machines_cartocs = Machine.unscoped

  unknown_in_nagios = machines_cartocs.map(&:name) - machines_nagios
  unknown_in_nagios.map!{|name| link_to_servername name}
  unknown_in_cartocs = machines_nagios - machines_cartocs.map(&:name)
  unknown_in_cartocs.map!{|s| server_missing s}

  tomcats_jason = Tomcat.all.map{|t| t[:tomcat]+"@"+t[:server]}.select{|t| t.match(/\S@\S/)}
  tomcats_nagios = []; prev=""
  File.open("#{Rails.root}/data/nagios/status.dat").each_line do |line|
    tomcats_nagios << line.split("PROCESS_").last.chomp + "@" + prev.split("=").last.chomp if line.include?("PROCESS_TC")
    prev=line
  end
  tomcat_unknown_in_nagios = tomcats_jason - tomcats_nagios
  tomcat_unknown_in_nagios.reject!{|t| t.match(/vm-preprod/) }
  nb_tomcats = tomcats_jason.reject!{|t| t.match(/vm-preprod/) }.count

  diff_list = {
    "dans Nagios manquants dans Cartocs" => unknown_in_cartocs,
    "de Cartocs inconnus dans Nagios"  => unknown_in_nagios,
    "Tomcat non supervisés (sur #{nb_tomcats} hors préproduction)" => tomcat_unknown_in_nagios
  }
%>

<% title "Outils - Comparaison Nagios" %>

<div id="tools" class="grid_12 items_list">

<%= render "submenu" %>

<% diff_list.each do |title,machines| %>
<ul>
  <li><strong><%= pluralize(machines.count, "serveur") %> <%= title %></strong></li>
  <ul class="comparison details">
    <%= machines.sort.map{|m| "<li>#{m}</li>"}.join.html_safe %>
  </ul>
</ul>
<div class="clear"></div>
<% end %>

</div>
