<%
%>

<% title "Outils - Comparaison Nagios" %>

<div id="tools" class="grid_12 items_list">

  <%= render_diff_list "dans Nagios manquants dans Cartocs",
                       @unknown_in_cartocs.map{|name| link_to_servername name} %>

  <%= render_diff_list "de Cartocs inconnus dans Nagios",
                       @unknown_in_nagios.map!{|s| server_missing s} %>

  <%= render_diff_list "Tomcat non supervisés (sur #{@nb_tomcats} hors préproduction)",
                       @tomcat_unknown_in_nagios %>

</div>
