<% title "#{t(:tools)} - #{t(:reverse_proxies_comparison)}" %>

<div id="tools" class="grid_12 items_list">

  <%= render_diff_list t(:in_reverse_proxies_missing_in_cartoque),
                       (@unknown_in_cartoque.inject([]){ |memo,u|
                         line = @vhosts_lines.detect{|v| v.include?(u)}
                         title = line.gsub(%r{.*data/rp/},"").gsub(/:.*/,"").sub(%r{/},": ") if line
                         memo << link_to(u, "http://#{u}", :title => title)
                       }) %>

</div>
