<% title "Outils - Comparaison VMWare" %>

<div id="tools" class="grid_12 items_list">

  <%= render_diff_list "manquants dans Cartocs",
                       @unknown_in_cartocs.map{|name| server_missing name} %>

  <%= render_diff_list "inconnus dans VCenter",
                       @unknown_in_vcenter.map{|name| link_to_servername name} %>

  <%= render_diff_list "ne sont pas marqués comme \"virtuels\" dans Cartocs",
                       @not_vms_in_cartocs %>

</div>
