<%
vms = []
datafile = Rails.root.join("data/vmware/virtual_machines.txt")
vms = File.readlines(datafile).map(&:chomp!) if File.exists?(datafile)
vms_in_cartocs = Machine.where(:virtual => true)
physical_in_cartocs = Machine.where(:virtual => false)

unknown_in_cartocs = vms - vms_in_cartocs.map(&:name) - physical_in_cartocs.map(&:name)
unknown_in_vcenter = vms_in_cartocs.map(&:name) - vms
unknown_in_vcenter.reject!{ |name| name.starts_with?("vm-hra") || name.starts_with?("vm-hrw") } #RH project we're not responsible of
unknown_in_vcenter.reject!{ |name| name.match(/millos|ritac-|-nt-|-ac-|^dns-[01]$/) } #Windows servers we're not responsible of
unknown_in_vcenter.map!{ |name| link_to_servername name}
notvms_in_cartocs = vms - vms_in_cartocs.map(&:name) - unknown_in_cartocs
unknown_in_cartocs.map!{|s| server_missing s}

diff_list = {
              "manquantes dans Cartocs" => unknown_in_cartocs,
              "inconnues dans VCenter"  => unknown_in_vcenter,
              "ne sont pas marquées comme \"virtuelles\" dans Cartocs" => notvms_in_cartocs
             } %>

<% title "Outils - Comparaison VMWare" %>

<div id="tools" class="grid_12 items_list">

<%= render "submenu" %>

<% diff_list.each do |title,machines| %>
<ul>
  <li><strong><%= pluralize(machines.count, "VM") %> <%= title %></strong></li>
  <ul class="comparison details">
    <%= machines.sort.map{|m| "<li>#{m}</li>"}.join.html_safe %>
  </ul>
</ul>
<div class="clear"></div>
<% end %>

</div>
