<div class="grid_12 center" id="login">
  <%= t(:text_mandatory_authentication).upcase %><br/><%= t(:text_if_you_want_an_account) %>
  <div id="cas-login">
    <%= link_to t(:click_here_for_authentication), '/auth/cas' %>
  </div>
</div>
