<div class="grid_12 center" id="login">
  AUTHENTIFICATION OBLIGATOIRE<br/>Si vous n'avez pas de compte, contactez un administrateur.
  <div id="cas-login">
    <%= link_to "Cliquer ici pour s'authentifier avec CERBERE-CAS", '/auth/cas' %>
  </div>
</div>
