<%= action_links do %>
  <%= link_to "Nouveau système d'exploitation", new_operating_system_path %>
<% end %>

<table class="list">
  <tr>
    <th>Nom</th>
  </tr>
  <tr>
    <td><%= nested_operating_systems @operating_systems %></td>
  </tr>
</table>
