<div class="operating-system">
  <%= operating_system.name %>
  <span class="tiny">
    <%= link_to 'Editer', edit_operating_system_path(operating_system) %>
    <%= link_to 'Supprimer', operating_system, :confirm => t(:text_are_you_sure), :method => :delete %>
  </span>
</div>
