<div class="operating-system">
  <div class="contextual">
    <%= link_to image_tag("delete.png", :class => "inline", :size => "16x16"), operating_system,
                :confirm => t(:text_confirm_delete, :element => operating_system.name), :method => :delete %>
  </div>
  <div class="contextual servers-count">
    <%= @os_servers_count[operating_system.id] || 0 %>
  </div>
  <%= link_to operating_system.name, edit_operating_system_path(operating_system) %>
</div>
