<div class="fields">
  <%= f.text_field :url, style: "width:22em;" %>
  <%= f.input_field :public, as: :select, collection: [[t(:public_url),true], [t(:private_url),false]], include_blank: false %>
  <%= link_to_remove_fields image_tag("delete.png", size: "16x16"), f %>
</div>
