<%= content_tag_for :div, instance do %>
  <span class="label"><%= instance.name %></span>
  <ul class="details">
  <% instance.application_urls.where(public: true).sort_by(&:url).each do |app_url| %>
    <li class="application_url"><%= link_to app_url.url, app_url.url, class: "image-url" %></li>
  <% end %>
  <% if instance.servers.any?(&:active?) %>
    <li class="application_instance_servers">
      <%= instance.servers.select(&:active?).sort_by(&:name).map{|server| link_to server.name, server, class: "nocut image-server" }.join(" ").html_safe %>
    </li>
  <% end %>
  </ul>
<% end %>
