body { background-color:#FFF; color:#000 !important; }
#container { width:auto; margin:0; padding:0; border:none; }
table { border-collapse:collapse; }
table.pretty { width:100%; }
th { background-color:#000 !important; background-image:none; color:#fff; font-weight:bold; text-transform:uppercase; }
th, td, tr th:first-child, tr td:first-child { border:1px solid #777; padding:4px 6px; }
#line_items { page-break-before:always; }
.actions, .filters, .hide-when-print, .more, .opaque, #loading { display:none; }
a, a:link, a:visited, a:hover { text-decoration:none; color:#000; }
th a, th a:link, th a:visited { color:#fff; font-weight:bold; }
