/* general styles */
html { overflow-y:scroll; }
body { min-width: 800px; font-family:Verdana, Helvetica, Arial; font-size:12px; margin:0; }
a img, img.inline { border:none; margin:0 2px -4px 0; }
a { color:#000; text-decoration:none; }
a:hover { color:#000; text-decoration:underline; }
caption { padding: 0 0 5px 0; margin:0 auto; width:auto; font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; text-align: right; }

/* fonts */
@font-face { font-family:'Lobster'; font-style:normal; font-weight:normal; src:local('Lobster1.4'), local('Lobster'), url('../fonts/Lobster.ttf') format('truetype'); }

/* titles */
h1 { font-weight:bold; margin:0.5em 0; font-family:verdana,arial,sans-serif; text-align:center; color:#000; letter-spacing:1px; font-size:1.6em; }
h2 { font-weight:bold; margin:0.5em 0; font-family:verdana,arial,sans-serif; text-align:center; color:#333; letter-spacing:1px; font-size:1.2em; }
#sidebar h2 { text-align:left; letter-spacing:normal; margin-top:0; }

/* tables */
table { padding: 0; margin: 0 auto 1.5em auto; border-collapse:collapse; }
th, tr.th td {
  text-transform: capitalize; text-align: center; padding:4px 6px; vertical-align:middle;
  color: #433; background-color:#eee; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;
  background: -moz-linear-gradient(100% 100% 90deg, #e2e2e2, #f0f0f0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#e2e2e2));
  background: -webkit-linear-gradient(#e2e2e2, #f0f0f0);
  background: -o-linear-gradient(#e2e2e2, #f0f0f0);
}
tr th:first-child, tr td:first-child { border-left: 1px solid #ccc; }
th a { text-decoration:none; color: #433; background:transparent; }
td a { text-decoration:none; color:#239; background:transparent; }
td img { margin:0 auto; }
td a:hover { color:#d33; background:transparent; text-decoration:underline; }
td { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 6px; color: #433; }
td.label { text-align:left; width: 50px; }
table.show_item td.content { text-align:center; font-weight:bold; width:50%; }
tr.filters { border:none; font-size:90%; }
tr.filters td { border:none; padding:2px; text-align:center; }

/* pretty tables (sorting,etc.) */
.pretty th.current a { background-repeat:no-repeat; background-position:left center; padding-left:12px; }
.pretty th.asc a { background-image:url(/images/arrow_up_grey.png); }
.pretty th.desc a { background-image:url(/images/arrow_down_grey.png); }
.pretty th.sortable, .pretty th.current { text-decoration:underline; }

/* commodities */
.clear { clear:both; height:0; overflow:hidden; }
.center { text-align:center; }
.contextual { float:right; }
.contextual * { padding:0; margin:0; }
.actions { text-align:center; font-size: 90%; margin-top:2px; }
.actions a { text-decoration:underline; }
.hidden { display:none; }
.more { font-size:90%; text-align:left; }
.tiny { font-size:90%; }
.simple-list { margin:0; position:relative; display:block; padding:0 0 0 1.5em; list-style-type:none; }
input[type="submit"] {
  padding:1px 8px; display:inline-block;
  -moz-box-shadow:inset 0px 1px 0px 0px #fff; -webkit-box-shadow:inset 0px 1px 0px 0px #fff; box-shadow:inset 0px 1px 0px 0px #fff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ebebeb) );
  background:-moz-linear-gradient( center top, #f7f7f7 5%, #ebebeb 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ebebeb');
  color:#333; background-color:#f7f7f7; border:1px solid #cfcfcf;
  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
  font-family:arial; font-size:13px; font-weight:bold;
  text-decoration:none !important; text-shadow:1px 1px 0px #ffffff;
}
input[type="submit"]:hover {
  color: #333;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #f7f7f7) );
  background:-moz-linear-gradient( center top, #ebebeb 5%, #f7f7f7 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#f7f7f7');
  background-color:#ebebeb;
}
input[type="submit"]:active {
  position:relative;
  top:1px;
}

/* wrappers */
#top-menu { padding:5px 8px 7px; margin:0 0 5px; background-color:#eee; border-bottom:1px solid #ccc; }
#container { margin:0 auto; background-color:#FFF; padding:8px; text-align:left; }
.column_wrapper { float:left; margin:0 15px 0 5px; }
#sidebar {
  float:left; padding:7px 10px 10px 10px; margin:0 10px 0 0; background:#f6f6f6;
  -moz-box-shadow:2px 1px 4px #bbb; -webkit-box-shadow:2px 1px 4px #bbb; box-shadow:2px 1px 4px #bbb;
}

/* errors, warnings */
#flash_notice, #flash_error, #flash_alert { padding:5px 8px; margin:10px 0; }
#flash_notice { background-color:#CFC; border:solid 1px #6C6; }
#flash_error, #flash_alert { background-color:#FCC; border:solid 1px #C66; }
.field_with_errors *, #error_explanation * { color:#f00; }
.field_with_errors input, #error_explanation td { border:2px solid #f00; }
#error_explanation td { font-weight:bold; padding:0; }
.error_messages { width:400px; border:2px solid #CF0000; padding:0px; padding-bottom:12px; margin-bottom:20px; background-color:#f0f0f0; }
.error_messages h2 { text-align:left; font-weight:bold; padding:5px 10px; margin:0; background-color:#c00; color:#fff; }
.error_messages p { margin:8px 10px; }
.error_messages ul { margin:0; }

/* forms */
.simple_form label { float:left; width:50px; text-align:right; margin:3px; }
.simple_form div.input { margin-bottom:10px; }
.simple_form div.boolean label, .simple_form label.collection_radio { float:none; margin:0; }
.simple_form label.collection_radio { margin-right:10px; margin-left:2px; }
.simple_form .error { clear:left; margin-left:120px; color:#D00; display:block; }
.simple_form .hint { clear:left; margin-left:120px; color:#555; display:block; font-style:italic; }
label.required abbr { color:red; border-bottom:none; }

/* generic items */
.items_list table.ninety { width:90%; }
.items_list h1 { text-align:center; margin-top:0.3em; font-family:Verdana, Helvetica, Arial; color:#333; text-transform:uppercase; letter-spacing:1px; font-size:1.2em; }

/* top menu */
#top-menu a { display:inline-block; position:relative; bottom:-1px; }
#top-menu .contextual { /*position:relative; bottom:0px;*/ }
#top-menu input#search { border:1px solid #bbb; }

/* welcome page */
h1.welcome { font-family:'Lobster', serif; font-size:40px; font-style:normal; font-weight:400; text-shadow:2px 2px 2px #aaa; text-decoration:none; text-transform:none; letter-spacing:0em; word-spacing:0em; line-height:1em; margin-top:0.2em; }
.welcome .details { margin:0; position:relative; display:block; padding:0 0 0 1em; list-style-type:none; color:#666; font-size:90%; }
.welcome-box-out { float:left; width:25%; margin:0; padding:0; }
.welcome-box-in { float:none; margin:5px; padding:0; min-height:150px; }
.welcome-box-in > table, .welcome-box-in > div { width:100%; }

/* storage */
#storage .device { padding-left:2px; margin-bottom:2px; background-color:#eee; }
#storage .infos { text-align:left; margin-bottom:2px; font-size:100%; }
#storage .infos strong { font-size:110%; }
#storage td.global { font-size:110%; }
#storage td.details { white-space:nowrap; }
#storage td.details * { margin-bottom:0; }
#storage td.top { vertical-align:top; padding-top:2.5em; }
#storage table.progress td.closed { background:#777 none repeat scroll 0%; }
#storage table.storage-array { font-size:90%; border-collapse:collapse; border-left:none; margin-right:0; }
#storage tr.storage-array > td { padding:3px; white-space:nowrap; text-align:left; border-right:none; border-left:none; }
#storage tr.storage-array:last-child > td { border-bottom:none; }
#storage tr.storage-array > td:first-child { font-size:95%; }
#storage table.storage-array td.closed { background:#999 none repeat scroll 0%; }
#storage .unassigned { font-size:90%; color:#cb2; font-style:italic; font-weight:bold; float:right; padding-right:2px; }

/* databases */
.database_nodes { margin:0; position:relative; display:block; padding:0 0 0 1em; list-style-type:none; color:#666; font-size:90%; }
ul.databases-details { margin:0; position:relative; display:block; padding:0; list-style-type:none; }
.offset { padding-left:1em; }
.database_type { float:left; width:50%; margin:0; padding:0 auto; }
.database_type > table { width:96%; }

/* machines */
.virtual-machine { float:right; text-transform:uppercase; font-weight:bolder; color:#3a3; }
.maintenance-warning { color:#f80; }
.maintenance-critical { font-weight:bold; color:#d00; }
.machine-mainteneur { margin:0; position:relative; display:block; padding:0 0 0 2em; list-style-type:none; }
.mainteneur-infos { font-size:90%; }

/* operating systems */
.nested-os { margin-left:10px; }
.nested-os .operating-system { padding:2px 0 0 14px; background: #fff url(/images/bullet_arrow_right.png) no-repeat left top; }
.os-icon { margin:0 2px -2px 0; }

/* progress bars */
table.progress { border-collapse:collapse; border-spacing:0; empty-cells:show; text-align:center; margin:2px 0 5px; }
table.progress td { border:1px solid #d7d7d7; height:0.9em; font-size:90%; padding:2px; }
table.progress td.closed { background:#BAE0BA none repeat scroll 0%; }
table.progress td.done { background:#DEF0DE none repeat scroll 0%; }
table.progress td.open { background:#FFF none repeat scroll 0%; }
table.progress td.legend { border:none; padding-left:6px; }
p.progress-info { clear:left; font-style:italic; font-size:90%; }

/* media=print */
@media print {
  body { background-color:#FFF; }
  #container { width:auto; margin:0; padding:0; border:none; }
  table { border-collapse:collapse; }
  .items_list table.ninety { width:100%; }
  th { background-color:#000 !important; background-image:none; color:#fff; font-weight:bold; text-transform:uppercase; }
  th, td { border:1px solid #666; padding:2px 4px !important; }
  #line_items { page-break-before:always; }
  .actions, .filters, .hide-when-print { display:none; }
  a, a:link, a:visited, a:hover { text-decoration:none; color:#000; }
  th a, th a:link, th a:visited { color:#fff; font-weight:bold; }
}
