/* general styles */
html { overflow-y:scroll; }
body { min-width:800px; font-family:Verdana, Helvetica, Arial; font-size:12px; margin:0; cursor:default; }
div { margin:0; }
a img, img.inline { border:none; margin:-2px 2px 0 0; }
a { color:#00b; text-decoration:none; }
a:hover { color:#e06; text-decoration:none; }
caption { padding:0 0 5px 0; margin:0 auto; width:auto; font:italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; text-align:right; }
ul { margin:0.5em 0.5em 0.5em 2em; list-style-type:none; }
small { font-size:90%; }

/* input styles taken from formalize */
input:focus, input:active, textarea:focus, textarea:active {
  -moz-box-shadow: #06f 0 0 4px;
  -webkit-box-shadow: #06f 0 0 4px;
  box-shadow: #06f 0 0 4px;
}

/* fonts */
@font-face { font-family:'Lobster'; font-style:normal; font-weight:normal; src:local('Lobster1.4'), local('Lobster'), url('../fonts/Lobster.ttf') format('truetype'); }
@font-face { font-family:'Ubuntu'; font-style:normal; font-weight:normal; src:local('Ubuntu-R'), local('Ubuntu'), url('../fonts/Ubuntu-R.ttf') format('truetype'); }

/* 960.gs patches ; too hard to integrate otherwise */
.grid_12 .grid_6 { margin-left:0; margin-right:0; }
.grid_12 .grid_6 + .grid_6 { margin-left:20px; }

/* titles */
h1 { font-weight:bold; margin:0.2em 0 0; font-family:Ubuntu,verdana,arial,sans-serif; text-align:center; color:#000; letter-spacing:1px; font-size:1.8em; }
h2 { font-weight:bold; margin:0.2em 0 0; font-family:Ubuntu,verdana,arial,sans-serif; text-align:center; color:#333; letter-spacing:1px; font-size:1.5em; }

/* tables */
table { padding:0; margin-top:0.5em; margin-bottom:1.5em; border-collapse:collapse; margin-left:auto; margin-right:auto; }
th, td { vertical-align:middle; padding:4px 6px; }
th { text-align:center; font-weight:bold; }
td { background-color:#fff; }
th a { text-decoration:none; color:#433; background:transparent; }
td img { margin:0 auto; }
td.label { width:75px; text-align:left; padding:6px; }
.list { border:1px solid #ccc; }
.list td { border-bottom:1px solid #ccc; color:#433; padding:2px 4px; }
.list td.multirow { border-right:1px solid #ccc; }
.pretty th.current a { background-repeat:no-repeat; background-position:left center; padding-left:12px; }
.pretty th.asc a { background-image:url(/images/arrow_up_grey.png); }
.pretty th.desc a { background-image:url(/images/arrow_down_grey.png); }
.pretty th.sortable a, .pretty th.current a { border-bottom:1px solid #aaa; }
.pretty td { padding:5px 7px; }
tbody.long-list tr:hover td { background-color:#e4ebf8; cursor:default; }
tbody.long-list tr:hover td.multirow { background-color:inherit !important; }

/* commodities */
.center { text-align:center; }
.full { width:100%; }
.ninety { width:90%; }
.contextual { float:right; }
.contextual * { padding:0; margin:0; }
.before-contextual { position:absolute; right:60px; }
.hidden { display:none; }
.more { font-size:90%; text-align:left; }
.tiny { font-size:90%; }
.tinier { font-size:80%; }
.simple-list { margin:0; position:relative; display:block; padding:0 0 0 1.5em; list-style-type:none; }
.simple-list li { margin-top:3px; }
.nocut { display:inline-block; white-space:nowrap; }
input[type="submit"] {
  padding:3px 10px; display:inline-block;
  -moz-box-shadow:inset 0px 1px 0px 0px #fff; -webkit-box-shadow:inset 0px 1px 0px 0px #fff; box-shadow:inset 0px 1px 0px 0px #fff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #efefef) );
  background:-moz-linear-gradient( center top, #f7f7f7 5%, #efefef 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#efefef');
  color:#333; background-color:#f7f7f7; border:1px solid #cfcfcf;
  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
  font-family:arial; font-size:13px; font-weight:bold;
  text-decoration:none !important; text-shadow:1px 1px 0px #fff;
}
input[type="submit"]:hover {
  color:#333;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #efefef), color-stop(1, #f7f7f7) );
  background:-moz-linear-gradient( center top, #efefef 5%, #f7f7f7 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f7f7f7');
  background-color:#efefef;
}
input[type="submit"]:active {
  position:relative;
  top:1px;
}
ul.details { margin:0.2em 0.5em 0.2em 0.8em; }
ul.details li { margin:0.5em 0; font-size:90%; }

/* icons */
.icon { background-position: 0% 50%; background-repeat: no-repeat; padding-left: 20px; padding-top: 2px; padding-bottom: 3px; }
.icon-url { background-image: url(../images/external.png); padding-left:15px; }
.icon-server { background-image: url(../images/server_12.png); padding-left:15px; }

/* wrappers */
#container { background-color:#fff; text-align:left; }
.column_wrapper { float:left; margin:0 15px 0 5px; }
#footer { text-align:center; color:#ccc; font-size:90%; border-top:1px solid #ddd; padding-top:5px; margin-top:10px; margin-bottom:10px; }

/* errors, warnings */
#flash_notice, #flash_error, #flash_alert { padding:8px; margin:5px auto 15px; text-align:center;
  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; max-width:400px; font-weight:bold; }
#flash_notice { background-color:#ff9; color:#222; }
#flash_error, #flash_alert { background-color:#FCC; color:#400; }
.field_with_errors *, #error_explanation * { color:#f00; }
.field_with_errors input, #error_explanation td { border:2px solid #f00; }
#error_explanation td { font-weight:bold; padding:0; }
.error_messages { width:400px; border:2px solid #CF0000; padding:0px; padding-bottom:12px; margin-bottom:20px; background-color:#f0f0f0; }
.error_messages h2 { text-align:left; font-weight:bold; padding:5px 10px; margin:0; background-color:#c00; color:#fff; }
.error_messages p { margin:8px 10px; }
.error_messages ul { margin:0; }
.not_found { font-weight:bold; font-size:200%; padding:50px; color:#cf0000; }

/* forms */
input[type="text"], input[type="password"], textarea {
  padding:0.1em 0.2em; box-sizing: border-box; border: 1px solid; outline: 0; border-color: #b0b0b0 #c1c1c1 #e1e1e1;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  -moz-box-shadow: #06F 0 0 3px; -webkit-box-shadow: #06F 0 0 3px; box-shadow: #06F 0 0 3px;
}
textarea { margin-top:3px; }
.simple_form div.input { margin-bottom:10px; }
.simple_form div.boolean label, .simple_form label.collection_radio { float:none; margin:0; }
.simple_form label.collection_radio { margin-right:10px; margin-left:2px; }
.simple_form .error { clear:left; margin-left:120px; color:#D00; display:block; }
.simple_form .hint { clear:left; margin-left:120px; color:#555; display:block; font-style:italic; }
label.required abbr { color:red; border-bottom:none; }
.simple_form .link-delete img { position:relative; top:-1px; margin-left:3px; }
.simple_form .add-field { font-size:80%; margin:0.6em 0; }
.simple_form .add-field a { color:#000; }
.simple_form .add-field a:hover { color:#e06; text-decoration:none; }
.simple_form input[type="checkbox"] { margin:0 3px; position:relative; top:3px; }
.simple_form .fields { padding:2px 0; }
.simple_form .fields label { font-size:90%; }
.simple_form .actions { margin:10px 0 5px; }
.simple_form th, .simple_form tr.th td, .simple_form th:first-child, .simple_form td, .simple_form td:first-child { padding:5px 7px; }
.simple_form tr th, .simple_form tr.th td, .show_item th, .show_for tr.th td, .show_item th:first-child, .list th, .list tr.th td {
  text-transform:capitalize; font-weight:bold; padding:5px 7px; vertical-align:middle; text-shadow:1px 1px 2px #fff;
  color:#322; background-color:#f0f0f0; border-bottom: 1px solid #ccc;
  background:-moz-linear-gradient(100% 100% 90deg, #e5e5e5, #f0f0f0);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#f0f0f0));
  background:-webkit-linear-gradient(#f0f0f0, #e5e5e5);
}
.list tr th:last-child, .list tr.th td:last-child { border-right:1px solid #ccc; }
.simple_form tr.th label { font-size:100% !important; }
.simple_form td.label label, .simple_form label.input, .show_for td.label, .show_for td label { font-size:85%; font-weight:bold; color:#666; }
.simple_form tr.multiselect td.content { border-right:1px solid #ccc !important; }
.simple_form td.multiselect { padding-bottom:1em; }
.simple_form th.secondary, .show_for th.secondary, .show_item th.secondary { border-top:1px solid #ccc; }

/* show_for */
.simple_form table.inputs, .show_item, .simple_form table, table.list { border:1px solid #ccc; }
.show_for td.content { min-width:50%; }

/* filters */
tr.filters { border-bottom:1px solid #ccc; border-top:1px solid #ffcc00; border-right:1px solid #ffcc00; border-left:1px solid #ffcc00; font-size:90%; }
tr.filters td, tr.filters td:first-child, tr.filters td:last-child {
  padding:3px 4px; text-align:center; background-color:#ffe400;
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0, #ffe400), color-stop(1, #ffcc00) );
  background:-moz-linear-gradient( center top, #ffe400 0%, #ffcc00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe400', endColorstr='#ffcc00');*/
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0, #fff477), color-stop(1, #ffe466) );
  background:-moz-linear-gradient( center top, #fff477 0%, #ffe466 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff477', endColorstr='#ffe466');
}
tr.filters input[type="text"] { border:1px solid #ccc; width:100%; }

/* generic items */
.items_list h1 { text-align:center; margin-top:0.3em; font-family:Verdana, Helvetica, Arial; color:#333; text-transform:uppercase; letter-spacing:1px; font-size:1.2em; }
.items_list>table { width:100%; }
.counter { font-style:italic; font-size:150%; float:right; font-weight:bold; }

/* ajax loading ; styles adapted from redmine */
#loading { position:absolute; background-color:#f5f5f5; color:#666; border:1px solid #ddd; top:40%; left:40%; width:20%; height:70px; line-height:70px;
           font-weight:bold; font-size:120%; text-align:center; padding:0.6em; z-index:100; filter:alpha(opacity=70); opacity: 0.7; display:none; }
html>body #loading { position:fixed; }
#loading span { background-position:0% 40%; background-repeat:no-repeat; background-image:url(../images/loading.gif);
                       padding-left:26px; vertical-align:bottom; }

/* top menu */
/*#top-menu form { display:inline; }
#top-menu > a { display:inline-block; position:relative; bottom:-1px; }
#top-menu .contextual { position:relative; bottom:-1px; }*/
/*#top-menu {
  padding:5px 8px; margin-top:0; margin-bottom:5px; background-color:#ececec; text-shadow:1px 1px 0 #fff;
  height:18px; border-width:0 1px 1px 1px; border-style:solid; border-color:#ccc;
  -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px;
  -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px;
}
#top-menu a, #top-menu a:hover { color:#000; } */
#top-menu { font:13px/22px Arial,sans-serif; background-color:#ececec; /*color:#3366CC;*/ height:24px;
  margin-top:0; margin-bottom:5px; background-color:#ececec; text-shadow:1px 1px 0 #fff;
  border-width:0 1px 1px 1px; border-style:solid; border-color:#ccc; padding-right:4px;
  -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px;
  -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px;
}
#top-menu a { text-decoration:none; color:#000; }
#top-menu a.tiny { display:block; margin-top:0; padding-top:1px; padding-bottom:1px; }
#top-menu .menu-items > li > a { display:inline-block; padding:0 4px 2px 4px; }
#top-menu .has-submenu > a { padding:0 4px 2px 4px; display:inline-block; outline:none; }
#top-menu .has-submenu:hover, .menu-items > li:hover { background-color:#e7e7e7; }
#top-menu .active:hover { background-color:#f5f5f5; }
#top-menu .connected-as { font-weight:bold; padding-right:0.4em; }
#top-menu .connected-as:hover { background-color:#ececec; }
#top-menu ul { list-style-type:none; margin:0; }
#top-menu .menu-items { list-style-type:none; margin:0; padding:0 0 0 2px; }
#top-menu .menu-items > li { padding:0 1px; margin:0; float:left; }
#top-menu .menu-items .large-submenu { position:absolute; border:1px solid /*#C3D1EC*/#ccc; box-shadow:0 1px 5px #bbb; margin-top:-1px; margin-left:-10px;
                                       display:none; background-color:#f5f5f5; padding:0; left:0; }
#top-menu .submenu-1 { width:150px; }
#top-menu .submenu-2 { width:300px; }
#top-menu .submenu-3 { width:450px; }
#top-menu .submenu-4 { width:600px; }
#top-menu .active { position:relative; padding:0 !important; border:1px solid #ccc; border-top:0; border-bottom:0; }
#top-menu .active > a { background-color:#f5f5f5; display:inline-block; height:21px; position:relative; z-index:15; }
#top-menu .active .large-submenu { display:block !important; }
#top-menu .active .large-submenu a { border:0 !important; display:inline-block; padding:0.2em 0.5em 0.3em 0.8em !important; width:100%;
                                     -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
#top-menu .active .large-submenu a:hover { background-color:#e4ebf8 !important; }
#top-menu .large-submenu { color:#000; padding:2em; line-height:normal; z-index:10; }
#top-menu .large-submenu ul { padding:0.5em 0; list-style-type:none; width:150px; }
#top-menu .large-submenu li { padding:0em 1em; margin:0; }
#top-menu .large-submenu li.title { margin-top:0.4em; margin-bottom:0.2em; font-weight:bold; }
#top-menu .arrow { /* http://hedgerwow.appspot.com/demo/arrows */ border-style:dashed; border-color:transparent; border-width:0.5em;
                   display:-moz-inline-box; display:inline-block; /* Use font-size to control the size of the arrow. */ font-size:8px;
                   margin-left:0.4em; margin-right:0.2em; height:0; width:0; top:0.2em; line-height:0; position:relative; vertical-align:middle;
                   border-top-width:0.5em; border-top-style:solid; border-top-color:/*#36c*/#555; }
#top-menu li.tiny { height:24px; font-size:90%; }
#top-menu li.tiny a { position:relative; top:1px; }

/* sidebar */
#sidebar { float:left; margin:5px 0; padding:7px 10px 10px 10px; background:#f6f6f6; width:200px; box-shadow:0 0 2px #bbb; }
#sidebar h2 { text-align:left; letter-spacing:normal; margin-top:0; margin-bottom:0.4em; }
#sidebar ul { border-bottom:1px solid #ddd; padding-right:1.2em; padding-bottom:0.8em; margin-bottom:0.5em; }
#sidebar ul:last-child { border-bottom:none; padding-bottom:0; margin-bottom:0; }

/* authentication/sessions */
#login {color:#c22; font-size:120%; padding-top:3em; padding-bottom:5em; }
#cas-login { margin:3em auto 0; font-weight:bold; text-align:center; }
#cas-login a, #cas-login a:hover {
  display:inline-block; padding:0.4em 1em; max-width:800px; text-align:center;
  color:#fff; background-color:#78cc01; text-decoration:none !important; text-shadow:1px 1px 1px #666;
  -moz-border-radius:14px; -webkit-border-radius:14px; border-radius:14px;
}
#cas-login a:hover { background-color:#70c600; }
#cas-login a:active { position:relative; top:1px; }

/* welcome page */
#welcome-container { margin:2em auto; }
h1.welcome { font-family:'Lobster', serif; font-size:40px; font-style:normal; font-weight:400; text-shadow:2px 2px 2px #aaa; text-decoration:none; text-transform:none; letter-spacing:0em; word-spacing:0em; line-height:1em; margin-top:0.5em; }
.welcome-box { float:none; padding:0; min-height:150px; }
.welcome-box .details { margin:0; position:relative; display:block; padding:0 0 0 1em; list-style-type:none; color:#666; font-size:90%; }
.welcome-box > table, .welcome-box > div { width:100%; }
.welcome-box td { padding:6px 8px; border-right:1px solid #ccc; }

/* actions */
.actions { text-align:center; font-size:95%; margin:5px 0; }
td.actions div.actions { font-size:90%; margin:0; }
#container>.actions, .items_list>.actions, .grid_12>.actions { 
  position:relative; margin-bottom:4px; padding:6px 5px 5px; height:14px; line-height:14px;
  text-align:left; background-color:#edf3fe; color:#666; border:1px solid #def; 
}
#container>.actions a, .items_list>.actions a, .grid_12>.actions a { margin:0 2px; }
.actions a:first-child { margin-left:5px; }
.actions a img { margin-top:-3px; }

/* contexts */
.actions li { list-style-type:none; margin:0; display:inline; }
.actions li a { float:left; margin-right:10px; padding:0 8px; text-shadow:1px 1px 0 rgba(255,255,255,0.7); }
.actions li a.selected { position:relative; top:-1px; font-weight:/*bold*/normal; background:#fff; border:1px solid #ccc; border-right-color:#eee; border-bottom-color:#eee; }
.actions div.contextswitch { position:absolute; right:0; top:0; height:13px; padding:6px 10px 6px 12px; border-left:1px solid #e9edf9; background:url(/images/context_back-up.png) 100% -6px no-repeat; cursor:pointer; }
.actions div.contextswitch.activated { background-image:url(/images/context_back-down.png); }
.actions div.contextswitch .toggle { display:block; height:13px; line-height:13px; padding-right:15px; font-weight:/*bold*/normal; color:#00b; cursor:pointer; }
.actions div.contextswitch.activated .toggle { color:#e04; }
.actions div.contextswitch ul { display:none; margin:0; position:absolute; top:25px; right:-1px; background:#fff; border:1px solid #ccc; border-top:none; z-index:10; box-shadow:0 1px 5px #bbb; }
.actions div.contextswitch.activated ul { display:block; background-color:#f5f5f5; }
.actions div.contextswitch ul li { margin:0; padding:0; display:block; }
.actions div.contextswitch ul li:first-child { margin-top:4px; }
.actions div.contextswitch ul li.current { position:relative; display:block; padding:0.4em 0.5em; cursor:default; }
.actions div.contextswitch ul li>a { float:none; display:block; margin:0; min-width:130px; padding:2px 12px 4px; white-space:nowrap; }
.actions ul.select-buttons { list-style-type:none; margin:0; padding:0; }
.actions ul.select-buttons li { padding:0; margin:0; float:left; }
.actions ul.select-buttons a, .actions ul.select-buttons a:hover { padding:1px 7px; margin:0 3px 0 0; position:relative; bottom:1px;
                                                                   text-decoration:none; font-weight:bold; color:#222; font-size:90%;
                                                                   border-radius:20px; }
.actions ul.select-buttons li a:hover { background-color:#999; color:#fff; text-shadow:1px 1px 0 #555; }
.actions ul.select-buttons li.current a { background-color:#667; color:#fff; text-shadow:1px 1px 0 #333; }
.contexts > li { width:100%; margin-bottom:0; padding:0; }
.contexts a { border:0 !important; display:inline-block; padding:0.4em 0.5em !important; width:100%;
              -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.contexts a:hover { background-color:#e4ebf8 !important; color:normal; }
a.create-machine { color:#e06; padding:0 3px 1px; font-weight:bold; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
a.create-machine:hover { background-color:#e06; color:#fff; text-decoration:none; }
a.create-machine:active { position:relative; top:1px; }

/* storage */
#storages > table { margin-left:auto; margin-right:auto; }
#storage .device { padding-left:2px; margin-bottom:2px; background-color:#eee; }
#storage .infos { text-align:left; margin-bottom:2px; font-size:100%; }
#storage td.global { font-size:110%; padding:12px; }
#storage td.details { white-space:nowrap; padding:6px; }
#storage td.details * { margin-bottom:0; }
#storage td.top { vertical-align:top; padding-top:1.8em; }
#storage table.progress td.closed { background:#777 none repeat scroll 0%; }
#storage table.storage-array { font-size:90%; border-collapse:collapse; border-left:none; margin-right:0; }
#storage tr.storage-array > td { padding:3px; white-space:nowrap; text-align:left; border-right:none; border-left:none; }
#storage tr.storage-array:last-child > td { border-bottom:none; }
#storage tr.storage-array > td:first-child { font-size:95%; }
#storage table.storage-array td.closed { background:#999 none repeat scroll 0%; }
#storage .unassigned { font-size:90%; color:#cb2; font-style:italic; font-weight:bold; float:right; padding-right:2px; }

/* applications */
#machine_applications tr.multiselect td:first-child { display:none; }
#machine_applications tr.multiselect td:last-child { /*border-left:1px solid #ccc;*/ }
#application_general td.content { text-align:center; }
#application_instances .instance-fields { border:none; border-bottom:1px solid #ddd; padding:0.5em 0; margin-bottom:1em; }
.instance-fields th, .instance-fields tr.th td, .instance-fields th:first-child, .instance-fields td, .instance-fields td:first-child { border:none; margin:0; padding:0.2em; border-bottom:none; vertical-align:top; }
.instance-fields td.label { width:60px; padding-top:0.6em !important; }
#application_instances .fields .link-delete img { position:relative; top:-2px; margin-left:3px; }
.application_instance { width:100%; margin-bottom:5px; font-size:100%; }
.links a, .links a:link, .links a:visited, .links a:hover { text-decoration:none; font-weight:bold; padding:2px;
                                                            -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
a.link-to-redmine { color:#a22; }
a.link-to-redmine:hover { color:#fff; background-color:#a22; }
a.link-to-nagios { color:#000; }
a.link-to-nagios:hover { color:#fff; background-color:#000; }
a.link-to-munin { color:#227; }
a.link-to-munin:hover { color:#fff; background-color:#227; }
a.link-to-dokuwiki { color:#272; }
a.link-to-dokuwiki:hover { color:#fff; background-color:#272; }

/* tomcats, databases */
table.databases { width:100%; }
table.databases td, table.databases th:last-child, table.database td, table.database th:last-child { border-right:1px solid #ccc; }
.database_nodes, .tomcat_vips { margin:0; display:block; padding:0 0 0 1.5em; list-style-type:none; color:#666; font-size:90%; }
ul.databases-details { margin:0; position:relative; display:block; padding:0; list-style-type:none; }
.offset { padding-left:1em; }
.csacok { font-weight:bold; color:green; }
.csacko { font-weight:bold; color:red; }
.machine_tomcats ul { margin-left:1em; }
.machine_tomcats li { padding:0.3em 0; }

/* machines */
.virtual-machine { float:right; text-transform:uppercase; font-weight:bolder; color:#3a3; }
.maintenance-warning { color:#f80; }
.maintenance-critical { font-weight:bold; color:#d00; }
.machine-mainteneur { margin:0; position:relative; display:block; padding:0 0 0 2em; list-style-type:none; }
.mainteneur-infos ul { font-size:90%; margin:0.5em; }
ul.mainteneur { font-size:90%; margin:0.2em 0.5em; }
.database_machines li { margin:4px auto; }
.machine-details { font-size:90%; display:inline-block; background-color:#eee; color:#335;
                   padding:1px 6px; margin:0 6px; border:1px solid #ccd;
                   -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.machine_ipaddresses ul.collection { text-align:left; margin-left:0; font-weight:bold; font-size:90%; }
#machine_general th.machine_name, #application_general th.application_name { text-transform:uppercase; font-size:150%; }
#machine_name, #application_name { font-size:150%; font-weight:bold; }

/* operating systems */
.nested-os { margin-left:10px; }
.nested-os .operating-system { padding:2px 0 0 14px; background:#fff url(/images/bullet_arrow_right.png) no-repeat left top; }
.os-icon { margin:0 2px -2px 0; }

/* progress bars */
table.progress { border-collapse:collapse; border-spacing:0; empty-cells:show; text-align:center; margin:2px 0 5px; }
table.progress td { border:1px solid #ccc; height:0.8em; font-size:90%; padding:1px; }
table.progress td.closed { background:#aaa none repeat scroll 0%; }
table.progress td.done { background:#DEF0DE none repeat scroll 0%; }
table.progress td.open { background:#FFF none repeat scroll 0%; }
table.progress td.legend { border:none; padding-left:6px; text-align:right; }
p.progress-info { clear:left; font-style:italic; font-size:90%; }

/* tools */
ul.comparison { margin:5px; list-style-type:none; display:block; clear:both; }
ul.comparison li { margin:0; float:left; margin:2px; padding:3px 5px; background-color:#f8f8f8; border:1px solid #eee; }
.symetry th, .symetry td { border-right:1px solid #ccc; text-align:center; }
.symetry td { padding:0.2em 1em; }
.symetry tr td:first-child { font-weight:bold; padding:0.2em; text-align:left; }
.symetry tr.identical td:first-child { color:green; }
.symetry tr.different td:first-child { color:red; }

/* diff */
.diff{overflow:auto;text-align:left;}
.diff .zunchanged{display:none;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}

/* fixed elements */
tr#fix-on-scroll.fixed { border-top:none; }
tr.fixed { position:fixed; top:0; }
tr.fixed td, tr.fixed th { border-top:none !important; }
tr.fixed td:first-child, tr.fixed th:first-child { border-left:none; }

/* bugs with chrome+td[multirow] */
#php { border-top:none; }
#php th { border-top:1px solid #ccc; }
#php th:last-child { border-right:none; }

/* media=print */
@media print {
  body { background-color:#FFF; color:#000 !important; }
  #container { width:auto; margin:0; padding:0; border:none; }
  table { border-collapse:collapse; }
  th { background-color:#000 !important; background-image:none; color:#fff; font-weight:bold; text-transform:uppercase; }
  th, td, tr th:first-child, tr td:first-child { border:1px solid #444; padding:2px 4px; }
  #line_items { page-break-before:always; }
  .actions, .filters, .hide-when-print, .more { display:none; }
  a, a:link, a:visited, a:hover { text-decoration:none; color:#000; }
  th a, th a:link, th a:visited { color:#fff; font-weight:bold; }
}
