/*
   Add the following to your CSS file should you wish the cursor to
   "wait" while the script is processing the sort

body.sort-active *
  {
  cursor:wait;
}
*/

body {
  /*color:#545454;*/
  min-width: 800px;
}
h2 span {
  font-variant:small-caps;
}
p a {
  font-weight:normal;
  outline:none;
}
p a:link, p a:visited {
  color:#333;
  text-decoration:underline;
}
p a:hover {
  color:#fff;
  text-decoration:none;
  background:#000;
}
p a:active {
  color:#000;
  text-decoration:underline;
}
code {
  font-family:'andale mono','lucida console','courier new',monospace;
  font-size:1em;
}
p {
  line-height:1.6em;
  margin:0 0 1em 0;
}
h1 {
  font-weight:lighter;
  font-family:georgia, times new roman, times, georgia, palatino, serif;
  text-align:center;
  margin-top:0.6em;
  color:#000;
  font-size:2em;
}
h2 {
  font-weight:lighter;
  font-family:verdana,arial,sans-serif;
  text-align:center;
  margin-top:1em;
  color:#333;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1.2em;
}
h2 span {
  font-variant:small-caps;
  text-transform:none;
}
table {
  width: auto;
  padding: 0;
  margin: 0 auto 1.5em auto;
  border-left: 1px solid #C1DAD7;
  border-collapse:collapse;
}
.cs1 {
  width:30em;
}
.cs2 {
  width:20em;
}
.cs1 td, .cs2 td, #scientificNotation {
  text-align:right;
}
caption {
  padding: 0 0 5px 0;
  margin:0 auto;
  width:auto;
  font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
}
th, tr.th td {
  font: bold 10px/18px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  padding: 8px 12px 4px 12px;
  background: #CAE8EA url(../images/bg_header.jpg) no-repeat;
  vertical-align:middle;
}
td.total {
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #C1DAD7;
  background: none;
  text-align:right;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
}
th.sortable, th.sortable-text, th.sortable-date, th.sortable-keep, th.sortable-date-dmy, th.sortable-numeric, th.sortable-currency, th.sortable-sortByTwelveHourTimestamp, th.sortable-sortIPAddress, th.sortable-sortEnglishLonghandDateFormat, th.sortable-sortScientificNotation, th.sortable-sortImage, th.sortable-sortFileSize, th.sortable-sortAlphaNumeric, th.sortable-sortEnglishDateTime {
  cursor:pointer;
  background: #CAE8EA url(../images/bg_header_sortable.jpg) no-repeat;
  padding: 8px 12px 4px 16px;
}
th.forwardSort {
  background:#CAE8EA url(../images/bg_header_down.jpg) no-repeat 0 0;
}
th.reverseSort {
  background:#CAE8EA url(../images/bg_header_up.jpg) no-repeat 0 0;
}
table thead th.forwardSort a, table thead th.reverseSort a {
  color:#000;
  text-decoration:none;
}
/*
These styles should be added when very long tables are expected
th.sort-active {
  background:#CAE8EA url(../media/bg_header_sorting.jpg) no-repeat 0 0;
  cursor:wait;
}
th.sort-active a {
  color:#a80000 !important;
  cursor:wait;
}
*/
th a {
  text-decoration:none;
  color: #4f6b72;
  background:transparent;
}
td a {
  text-decoration:none;
  color:#239;
  background:transparent;
}
td img {
  margin:0 auto;
  /*border:3px solid #ddd;*/
}
td a:hover {
  color:#a84444;
  border-bottom:1px dotted #a80000;
  background:transparent;
}
td {
  font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  padding: 6px 12px 6px 12px;
  color: #4f6b72;
}
td.lft {
  text-align:left;
}
tr.alt {
  background: #F5FAFA;
  color: #797268;
}

/* Poor old Internet Explorer 6 has a bug that means we can't use background images for the table rows
   as it trys to download the image each and every time that it is used (which means a 1000 row table
   will produce 1000 http requests for the image in question) */
tr[class="alt"] td {
  background: #F5FAFA url(../images/td_alt.jpg) no-repeat;
}
td[class~="alt"] {
  background: #edf3f3 url(../images/col_alt.jpg) no-repeat !important;
}
/* Poor old Internet Explorer won't see the next two rules either as it doesn't get :first-child */
tbody tr.alt td:first-child {
  background: #F5FAFA url(../images/bullet2.gif) no-repeat;
  font-weight:none;
}
tbody tr td:first-child {
  /*background: #fff url(../images/bullet1.gif) no-repeat;*/
  font-weight:none;
}
/* Image free rules for Internet Explorer < 7 */
* html tr.alt td {
  background-color:#F5FAFA;
}
* html tr td.alt, * html tr.alt td.alt {
  background-color:#edf3f3;
}

a.infoBulle { position: relative}
a.infoBulle span { display: none; }
a.infoBulle:hover {text-decoration: none; background: none; /* correction d'un bug IE */ }
a.infoBulle:hover span {border: 1px solid; top:15px;left:45px;display: inline; position: absolute; z-index: 500; border:1 solid black; background: #edf3f3; color: #4f6b72; padding: 2px; text-decoration: none; width: 300px; filter:alpha(opacity=100); -moz-opacity:1.00; }
  
  
#header-menu {
  background-color: #edf3f3;
  text-align: right;
  margin-bottom: 20px;
}

.tableau_voir_gauche {
  text-align: left;
  width: 100px;
  font-weight: none;
}

.tableau_voir_droite {
  font-weight: bold;
}
