/* general styles */
@font-face {
  font-family: 'Lobster'; font-style: normal; font-weight: normal;
  src: local('Lobster'), url('./Lobster.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans'; font-style: normal; font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./OpenSans-Bold.woff') format('woff');
}
body { background-image: url('./bg-grey-noise.png'); font-family: helvetica, arial, freesans, clean, sans-serif; }
a { text-decoration: none; }
a:link, a:visited { color: #f30; } 
a:hover { color: #f30; }

/* layout */
#container {
  margin: 5px auto 20px;
  box-shadow: 0 0 15px #222;
  background-color:#fff;
  min-height:300px;
}
#sidebar, #content {
  margin:0;
  padding:12px 10px 12px 18px;
}
#content {
  min-height:300px;
  margin-left:9px;
  border-left:1px solid #bbb;
}

/* sidebar */
#sidebar {
  margin:0;
  padding-left:10px;
}
#sidebar a:link, #sidebar a:visited { color:#000; }
#sidebar a:hover { color:#f30; }
#sidebar ul, #sidebar li {
  list-style-type:none;
  margin:0;
  font-size:11px;
}
#sidebar li.title {
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  font-weight:bold;
  margin:0 0 6px;
}
#sidebar li {
  text-transform:none;
  margin-left:15px;
}
#sidebar .active {
  color:#b00;
}
.sitetitle, .sitesubtitle {
  display:inline-block;
  margin:15px 15px 0 15px;
  text-shadow: 0px 1px 0px #bbb;
  font-family: 'Lobster', serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  color: #312;
}
.sitesubtitle {
  margin:0;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
}
h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
}
h1 {
  font-size:18px;
}
h2 {
  font-size:12px;
}

#content pre {
  font-family: monospace;
  background-color: #fafafa;
  border: 1px solid #dadada;
  padding: 0 5px;
}

#content pre {
  margin: 0.5em 1em 0.5em 1.6em;
  padding: 5px;
  width:auto;
  overflow-x: auto;
  overflow-y: hidden;
}
#content p {
  margin:8px 0 12px 0;
}
