<div class="related-ci related-exported-disks">
  <div class="informations more-child">
    <h3><%= t(:nfs_server) %></h3>
    <div class="details">
      <%= pluralize(@server.exported_disks.map(&:client_id).uniq.count, t(:client).downcase) %> /
      <%= pluralize(@server.exported_disks.count, t(:mount)) %>
    </div>
    <ul class="hidden">
      <% Server.where(id: @server.exported_disks.map(&:client_id).uniq).order_by(:name.asc).each do |server| %>
        <li><%= link_to(server,server) %></li>
      <% end %>
    </ul>
  </div>
</div>
