<div class="related-ci related-licenses">
  <div class="informations more-child">
    <h3><%= t(:licenses) %></h3>
    <div class="details">
      <%= pluralize(@server.licenses.count, t(:key).downcase) %>
    </div>
    <ul class="hidden">
    <% @server.licenses.each do |license| %>
      <li><%= link_to "#{license.editor}: #{license.title}", licenses_path(by_server:@server.id) %></li>
    <% end %>
    </ul>
  </div>
</div>
