<div class="related-ci related-used-nss-volumes">
  <%= link_to nss_volumes_path do %>
  <div class="informations">
    <h5>Client NSS - <%= pluralize(@server.used_nss_volumes.count, "volume") %></h5>
    <div class="details">
      via <%= @server.used_nss_volumes.map(&:server).uniq.sort_by(&:name).map{|s| link_to(s,s)}.join(", ").html_safe %>
    </div>
  </div>
  <% end %>
</div>
