<div class="contact_card" style="background-image:url(<%= asset_path(contact.image_url) %>)">
  <div class="contextual" style="padding-top:10px">
    <%= link_to image_tag("add.png"), mailing_lists_path %>
  </div>
  <div>
    <h5><%= link_to contact.full_name, contact %></h5>
    <%= content_tag(:p, full_position(contact, true), :class => "contact_position") if full_position(contact).present? %>
  </div>
</div>
