<%
  path = Rails.root.join("data/nagios")
  machines_nagios = %x(grep host_name= #{path}/status.dat|cut -d"=" -f 2|sort -u).split(/\n/)
  machines_cartocs = Machine.unscoped

  unknown_in_nagios = machines_cartocs.map(&:name) - machines_nagios
  unknown_in_cartocs = machines_nagios - machines_cartocs.map(&:name)

  diff_list = { "inconnus dans Nagios"  => unknown_in_nagios,
                "manquants dans Cartocs" => unknown_in_cartocs }
%>

<table>
  <tr><th>Comparaison Nagios</th></tr>
  <% diff_list.each do |title,machines| %>
  <% if machines.present? %>
  <tr>
    <td>
      <%= pluralize(machines.count, "serveur") %> <%= title %> :
      <div class="details">
        <%= machines.sort.join(", ") %>
      </div>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
