<% title t(:contacts) %>

<div class="grid_6">

  <%= action_links do %>
    <%= link_to t(:new_contact), new_contact_path %>
  <% end %>

<div id="contacts_list">
  <% @contacts.each do |contact| %>
    <%= render :partial => 'contact', :object => contact %>
  <% end %>
</div>

</div>
