<% title "Contact: #{@contact.full_name}" %>

<div class="grid_6">

<%= action_links do %>
  <%= link_to 'Retourner à la liste', contacts_path %>
<% end %>

<%= render :partial => 'contact', :object => @contact %>

</div>
