<% title "#{t(:contact)}: #{@contact.full_name}" %>

<div class="grid_6">

<%= action_links do %>
  <%= link_to t(:back_to_the_list), contacts_path %>
<% end %>

<%= render :partial => 'contact', :object => @contact %>

</div>
