<div class="fields">
  <%= f.hidden_field :info_type, :value => "website" %>
  <%= f.text_field :value, :class => "long" %>
  <%= link_to_remove_fields image_tag("delete.png", :size => "16x16"), f %>
</div>
