<% title "#{t(:company)}: #{@company}" %>

<div class="grid_4">

<%= action_links do %>
  <%= link_to t(:back_to_the_list), contacts_path %>
<% end %>

<%= render :partial => 'company', :object => @company %>

</div>
