<div id="sidebar">
  <ul>
    <li class="title"><%= link_to_unless_current "Overview", "/" %></li>
    <li class="title">
      User guide
      <ul>
        <li><%= link_to_unless_current "Installation", "/guide/install.html" %></li>
        <li><%= link_to_unless_current "Populate the CMDB", "/guide/populate.html" %></li>
        <li><%= link_to_unless_current "Contribute", "/guide/contribute.html" %></li>
      </ul>
    </li>
    <li class="title">
      Developer corner
      <ul>
        <li><%= link_to_unless_current "Guidelines", "/dev/guidelines.html" %></li>
      </ul>
    </li>
    <li class="title">
      REST API
      <ul>
        <li><%= link_to_unless_current "Authentication", "/api/authentication.html" %></li>
        <li><%= link_to_unless_current "Response", "/api/response.html" %></li>
        <li><%= link_to_unless_current "List of endpoints", "/api/endpoints.html" %></li>
      </ul>
    </li>
  </ul>
</div>
