<%= action_links do %>
  <% if action_name == "index" %>
  <div class="contextual">
    <%= link_to image_tag("file_extension_pdf.png", size: "16x16"), tomcats_path(params.merge(format: "pdf")) %>
  </div>
  <% end %>
  <ul class="select-buttons">
    <%= content_tag :li, link_to(t(:tomcats_standard), tomcats_path), class: (action_name == "index" ? "current" : "") %>
    <%= content_tag :li, link_to(t(:tomcats_old), old_tomcats_path), class: (action_name == "index_old" ? "current" : "") %>
  </ul>
<% end %>
