<% title "Tomcats" %>

<div id="tomcats" class="items_list grid_12">

<table class="pretty">
  <%= form_tag tomcats_path(params), :id => "filters", :method => :get do -%>
  <tr class="filters">
    <td></td>
    <td><%= select_tag "by_server", options_for_select([["",""]] + @filters[:server], params[:by_server]).html_safe -%></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tbody id="tomcats_list"><%= render 'list' %></tbody>
</table>

</div>
