<p class="fields">
  <%= f.text_field :address, :maxlength => 15, :value => f.object.address, :style => "width:8em;" %>
  <%= f.input_field :main, :class => "main_ip" %><label>principale</label>
  <%= f.input_field :virtual %><label>VIP</label>
  <%= link_to_remove_fields image_tag("delete.png"), f %>
</p>
