<tr class="fix-on-scroll">
  <th>Type</th>
  <th>Identifiant</th>
</tr>
<% @configuration_items.each do |ci| %>
<tr>
  <td><%= ci.item_type %></td>
  <td><%= link_to ci.identifier, configuration_item_path(ci) %></td>
</tr>
<% end %>
