<% content_for :sidebar  do %>
  <strong>Configuration</strong>
  <ul class="simple-list">
    <li><%= link_to "Systèmes d'exploitation", operating_systems_path %></li>
  </ul>
<% end %>

<%= render :file => "layouts/application" %>
